In [2]:
#q1: list and its default functions

In [3]:
lst =["preethi"  , 10  ,765  ,95.0  ,[1 ,2 , 3]]

In [4]:
lst

['preethi', 10, 765, 95.0, [1, 2, 3]]

In [5]:
lst.append("shekar")

In [6]:
lst

['preethi', 10, 765, 95.0, [1, 2, 3], 'shekar']

In [7]:
lst.extend([4,5])

In [8]:
lst

['preethi', 10, 765, 95.0, [1, 2, 3], 'shekar', 4, 5]

In [9]:
lst.index("shekar")

5

In [10]:
lst.pop()

5

In [11]:
lst

['preethi', 10, 765, 95.0, [1, 2, 3], 'shekar', 4]

In [12]:
lst.remove(95.0)

In [13]:
lst

['preethi', 10, 765, [1, 2, 3], 'shekar', 4]

In [16]:
lst.reverse()

In [17]:
lst

[4, 'shekar', [1, 2, 3], 765, 10, 'preethi']

In [19]:
lst.copy()

[4, 'shekar', [1, 2, 3], 765, 10, 'preethi']

In [28]:
lst.insert(1,5)

In [29]:
lst

[4, 5, 2, 'shekar', [1, 2, 3], 765, 10, 'preethi']

In [33]:
lst.remove(5)

In [34]:
lst

[4, 2, 'shekar', [1, 2, 3], 765, 10, 'preethi']

In [35]:
lst.clear()

In [36]:
lst

[]

In [37]:
# q2:dictionary and its default functions

In [38]:
dit = {"name":"preethi",   "age":"19",    "number":"1234567890",   "email":"preethishekar5@gmail.com"}

In [39]:
dit

{'name': 'preethi',
 'age': '19',
 'number': '1234567890',
 'email': 'preethishekar5@gmail.com'}

In [40]:
dit.get("number")

'1234567890'

In [41]:
dit.values()

dict_values(['preethi', '19', '1234567890', 'preethishekar5@gmail.com'])

In [42]:
dit.items()

dict_items([('name', 'preethi'), ('age', '19'), ('number', '1234567890'), ('email', 'preethishekar5@gmail.com')])

In [43]:
dit.keys()

dict_keys(['name', 'age', 'number', 'email'])

In [48]:
dit.pop("age","19")

'19'

In [50]:
dit

{'name': 'preethi',
 'number': '1234567890',
 'email': 'preethishekar5@gmail.com'}

In [51]:
dit.popitem()

('email', 'preethishekar5@gmail.com')

In [57]:
dit.update({ "age":"19"})

In [58]:
dit

{'name': 'preethi', 'number': '1234567890', 'age': '19'}

In [60]:
#q3: set and its default functions

In [61]:
thisset ={ " apple","banana","orange"}

In [62]:
thisset

{' apple', 'banana', 'orange'}

In [64]:
thisset.add("kiwi")

In [65]:
thisset

{' apple', 'banana', 'kiwi', 'orange'}

In [81]:
thisset.update({"avacado"})

In [82]:
thisset

{' apple', 'avacado', 'banana', 'kiwi', 'orange'}

In [84]:
thisset.remove("banana")

In [98]:
thisset

{' apple', 'avacado', 'kiwi', 'orange'}

In [99]:
set0={1,2,3}

In [101]:
set0

{1, 2, 3}

In [102]:
set1={2,3,4}

In [104]:
set1

{2, 3, 4}

In [108]:
set0.difference(set1)

{1}

In [113]:
set0.isdisjoint(set1)

True

In [114]:
set0.issubset(set1)

False

In [115]:
set0.issuperset(set1)

False

In [116]:
set0.union(set1)

{1, 2, 3, 4}

In [117]:
set0.symmetric_difference(set1)

{1, 2, 3, 4}

In [118]:
#q4 :tuple and itz default methods

In [124]:
tup=("lets","up","up","grade")

In [125]:
tup

('lets', 'up', 'up', 'grade')

In [128]:
tup.count("up")

2

In [130]:
tup.index("lets")

0

In [132]:
# q5: strings and itz default functions

In [134]:
name="preethi"
name2="shekar"

In [135]:
name.capitalize()

'Preethi'

In [136]:
name.casefold()

'preethi'

In [141]:
name.center(30)

'           preethi            '

In [142]:
name.count("e")

2

In [143]:
name.encode()

b'preethi'

In [144]:
name.endswith("i")

True

In [149]:
name.isalpha()

True

In [150]:
name.isalnum()

True

In [152]:
name.isdecimal()

False

In [154]:
name + " " +name2

'preethi shekar'

In [155]:
name.islower()

True

In [156]:
name.upper()

'PREETHI'

In [158]:
name.isupper()

False

In [161]:
name.swapcase()

'PREETHI'